LOG_LEVEL=info
MARKETCSGO_KEY=your_marketcsgo_api_key
PG_DSN=postgres://postgres:postgres@localhost:5432/trade-manager?sslmode=disable

STEAM_LOGIN=your_steam_login
STEAM_PASSWORD=your_steam_password
STEAM_SHARED_SECRET=base64_shared_secret_from_authenticator
